.App {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 1%;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}

.nav-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-menu a {
  display: block;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #555;
}
